@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Varela+Round&display=swap');
:root{
    --primaryFont:'Francois One', sans-serif;;
    --secondaryFont:'Varela Round', sans-serif;
    --primaryColor:#d7d7d7;
}
body{
    font-family:var(--secondaryFont);
    /* background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%); */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
body::before{
    min-height:100vh;
    content:"";
    background-attachment:fixed;
    background-color: rgba(0, 0, 0, 0.448);
    z-index:-1;
    position:absolute;
    top:0;bottom:0;;right:0;left:0;
}
h1{
    font-family: var(--primaryFont);
    color: var(--primaryColor);
    text-shadow:1px 1px 1px black;
}
.input-section{
    margin-top:80px;
}
.input_grp{
    font-family: var(--primaryFont);
    background-color:rgba(0, 0, 0, 0.124);
    box-shadow:0px 1px 14px black;
    padding: 20px;
    border-radius:30px;
    color: var(--primaryColor);
}
.input_grp input,.input_grp button,.input_grp select{
   border-radius:20px;
   outline:none;
}
.section-2{
    margin-top:100px;
}

.table-head{
    background-color: rgba(0, 0, 0, 0.753);
    color:var(--primaryColor)
}
#delete{
    display:none;
}
#tbody{
    color:var(--primaryColor);
}
